<%= form_tag gg_ncharts_path(@project), {multipart: true,id:"frm_project"} do  %>
    <%= hidden_field_tag "hid_project_id", @project.id %>
    <div class="easy-content-page">
      <div class="box tabular">
        <% component_props = {weather_infos:@weather_infos,project_id:@project.id} %>
        <%= react_component("WeatherChartShow", props: component_props, prerender: false) %>
      </div>
    </div>
<% end %>